<header>
    <div class="nav-bar">
        <a class="nav-link" href="/">HOME</a>
        <a class="nav-link" href="/about"><span class="aboutus">ABOUT US</span></a>
        <a class="nav-link" href="/alumni">ALUMNI</a>
        <a class="nav-link" href="/contact">CONTACT US</a>
</header>
<div class="header-section">

    <div class="toggle-btn">
        <img src="/images/menu.svg" alt="menuIcon">
    </div>

    <div class="text">
        <img class="logo" src="/images/image 25.png" alt="logo">
        <div class="header-text">
            <h1>BADGERW2 COLLEGE</h1>
            <h4>Knowlege to the world</h4>
        </div>
    </div>

    <div class="search">
        <input type="search" name="" id="search" class="search-input">
        <img class="search-img" src="/images/search.svg" alt="">
    </div>
</div>
