<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <%- include('./partials/headercss') %>
</head>


<body>

  <%- include('./partials/header') %>
    <img class="main-image" src="/images/unsplash_w1FwDvIreZU.png" alt="">
    <div class="rectangle-main"></div>
    <div class="main-text">
      <h1 class="header1"> ABOUT US</h1>
      <p class="text1">Badgerw2 College is committed to preparing our students to meet the great challenges facing the
        state, nation and world. We apply our expertise as students, faculty, and staff to engage with communities
        across Ogun State.
      </p>
      <p class="text1">Our mission is to produce excellent and outstanding students who can take up any challenges
        they encounter.</p>
      <p class="text1">It is with pride that we declare that we've helped produce students who have participated in
        groundbreaking research, and community-engaged outreach that has not only helped the communities around us but
        the state of Ogun and in turn our country Nigeria.
      </p>
    </div>
    <div class="rectangle-container">
      <div class="rectangle-small"></div>
      <div class="rectangle-small"></div>
      <div class="rectangle-small"></div>
    </div>
    <div class="text-container1">
      <div class="text2"><b>232,000</b> living alumni</div>
      <div class="text2"><b>40,000+</b> passionate students</div>
      <div class="text2"><b>25,000</b> dedicated faculty and staff</div>
    </div>
    <h3 class="core-values">Our Core Values </h3>
    <div class="rectangle-container">
      <div class="rectangle-small"></div>
      <div class="rectangle-small"></div>
      <div class="rectangle-small"></div>
    </div>
    <div class="text-container2">
      <div class="text3">Research</div>
      <div class="text3">Education</div>
      <div class="text3">Outreach</div>
    </div>
    </section>
    <%- include('./partials/footer') %>


</body>

</html>
