<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/about.css">

</head>

<body>
  <header>
      <div class="nav-bar">
        <a class="nav-link" href="/home">HOME</a>
        <a class="nav-link" href="/about"><span class="aboutus">ABOUT US</span></a>
        <a class="nav-link" href="/alumni">ALUMNI</a>
        <a class="nav-link" href="/contact">CONTACT US</a>
    </header>
    <section class="bg-img">
      <div class="header-logo">
        <img class="image25" src="/images/image 24.png" alt="graduation cap">
        <h1 class="college-name">BADGERW2 COLLEGE</h1>
      </div>
      <h2 class="college-motto">Knowledge to the world</h2>
    </section
    <div>
        Contact Page
    </div>

</body>

</html>
