<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation Creation Page</title>
    <link rel='stylesheet' href='/stylesheets/createform.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css"
        integrity="sha512-QfDd74mlg8afgSqm3Vq2Q65e9b3xMhJB4GZ9OcHDVy1hZ6pqBJPWWnMsKDXM7NINoKqJANNGBuVRIpIJ5dogfA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%- include('./partials/headercss') %>
</head>

<body class="main-content">
    <div class="container">
        <%- include('./partials/header') %>

            <h3 class="title">Create Donation Page</h3>
            <section class="body-card">
                <form class="payment" action="" method="POST">
                    <div class="grid-item">
                        <div class="flex-item">
                            <div class="form-element">
                                <label for="name">Name of Creator <span class="star">*</span></label>
                                <input name="name" type="text" id="name" required>
                            </div>

                            <div class="form-element">
                                <label for="email">Email <span class="star">*</span> </label>
                                <input type="text" id="email" name="email" required>
                            </div>


                            <div class="form-element">
                                <label for="project-name">Project Name <span class="star">*</span></label>
                                <input name="project-name" type="text" id="project-name" required>
                            </div>
                            <div class="form-element">
                                <label for="project-target">Project Target <span class="star">*</span></label>
                                <input name="project-target" type="text" id="project-target" required>
                            </div>
                        </div>
                        <div class="form-element">
                            <label for="about-project">About Project <span class="star">*</span></label>
                            <textarea id="about" name="about" rows="22" cols=""></textarea>
                        </div>
                    </div>
                    <button class="btn-secondary" type="submit">Create Donation Page</button>
                </form>

            </section>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>