<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/donate.css">
    <title>Dashboard</title>
</head>

<body>

    <header>
        <nav class="nav-bar">
            <img src="/images/logo-1-1.png" alt="">

            <input type="checkbox" id="toggle-menu">
            <label class="menu-icon" for="toggle-menu">
                <a id="menu-icon"><i class="fa fa-bars"></i></a>
            </label>

            <div id="navigation-bar" class="nav-links">
                <a href="/home"> HOME </a>
                <a href="/about us"> ABOUT US</a>
                <a href="/alumni"> ALUMNI </a>
                <a href="/contact us"> CONTACT US </a>
            </div>
        </nav>
    </header>


    <section class="hero-image">
        <div class="hero">

            <ul class="hero__lblock" style="margin-top: 150px">
                <label for="hamburger"><img src="/images/hamburger.svg" alt=""></label>
            </ul>

            <ul class="hero__caplogo" style="margin-top: 150px">
                <img class="logo" src="/images/grad-cap.svg" alt="logo">
            </ul>

            <ul class="hero-text">
                <h1 class="hero-h1">BADGERW2 COLLEGE <p class="hero-p">Knowledge to the world</p>
            </ul>
        </div>
    </section>
    <p> Welcome, your email is <%= email %>
    </p>
