<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title> Donate page</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/donate.css">
    <%- include('./partials/headercss') %>

</head>

<body>
    <%- include('./partials/header') %>




        <section class="options">

            <div class="flex-container">
                <div>
                    <h1 class="adopt1">ADOPT A STUDENT</h1>
                    <P class="adopt2">Take responsibility by becoming
                        a parent to a student with no
                        help</P>
                </div>

                <div>
                    <h1 class="adopt1">BUILD A FACULTY</h1>
                    <P class="adopt2">Start a faculty in your name</P>
                </div>
                <div>
                    <h1 class="adopt1">BUILD A LABORATORY</h1>
                    <P class="adopt2">Build an advanced laboratory for
                        students to carry out Practicals</P>
                </div>
                <div>
                    <h1 class="adopt1">EXPAND THE LIBRARY</h1>
                    <P class="adopt2">let students read more by
                        providing them with more
                        reading facilities</P>
                </div>
                <div>
                    <h1 class="adoptRoom">BUILD MORE
                        CLASSROOMS</h1>
                </div>

                <div class="outerdiv">
                    <h1 class="newdonate">CREATE A NEW DONATE PAGE</h1>
                    <P class="newP">Do you have a project in mind that can assist students of the college and it isn’t
                        listed,
                        create a donate page and
                        invite your friends to participate.</P>
                </div>
            </div>
        </section>
        <%- include('./partials/footer') %>
</body>

</html>