<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Donation Creation Page</title>
  <link rel='stylesheet'  href='stylesheets/donation.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css" integrity="sha512-QfDd74mlg8afgSqm3Vq2Q65e9b3xMhJB4GZ9OcHDVy1hZ6pqBJPWWnMsKDXM7NINoKqJANNGBuVRIpIJ5dogfA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="main-content">
    <div class="container">
<header>
    <div class="menu-icon">
        <img src="/images/menu.svg" alt="menu icon">
        
    </div>
    <div class="header-item">
      <div class="grad-cap"><img src="/images/image 25.png" alt="graduation cap"> 
    </div>    
    <div class="header-text">
        <h2>BADGERW2 COLLEGE</h2>
        <h3>Knowledge To The World</h3>
    </div>
    </div>

</header>
<section class="top-card">
    
        <div class="proj-header">
            <h3>PROJECT BUILD A FACULTY</h3>
    </div>
        <div class="proj-con">
        <div class="project-text">
            <p class="project-type">Project Target</p>
            <p class="value-text" >2,000,000,000</p>
        </div>
        <div class="project-text">
            <p class="project-type">Current Balance</p>
            <p class="value-text">200,000,000</p>
        </div>
        <div class="project-text">
            <p class="project-type" >Donors</p>
            <p class="value-text">10</p>
        </div>
    </div>
    <div class="project-progress">
        <div class="bar"></div>
        <div class="dot"></div>
        <div class="pro-text"><p>10% </p></div>
    </div>
    
</section>

<section class="body-card">
    <form class="payment" action="" method="POST">
        <div class="grid-element">
            <div class="form-element">
                <label for="fullname">FullName <span class="star">*</span></label>
                <input  type="text"id="fullname" required>
            </div>
            <div class="form-element">
                <label for="address">Address </label>
                <input  type="text"id="address" name="address" required>
            </div>
            <div class="form-element">
                <label for="email">Email <span class="star">*</span> </label>
                <input  type="text" id="email" name="email" required>
            </div>
            <div class="city-post">
                <div class="form-element">
                    <label for="city">City </label>
                    <input  type="text"id="city" >
                </div>
                <div class="form-element">
                    <label for="post-code">Post Code</label>
                    <input  type="text"id="post-code" >
                </div>
    
            </div>
    </div>
    <div class="form-element">
        <label for="address">Phone no <span class="star">*</span></label>
        <input  type="text"id="phone no" placeholder="(000)-000-000" required>
    </div>
    
    <div class="form-element">
        
        <label for="address">Country of Residence </label>
    
    
        <input type="text"  id="country" >
    
    </div>
    
    <button class="btn-secondary" type="submit">MAKE PAYMENT</button>
    </form>

</section>
</div>
</body>

</html>
