<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/about.css">

</head>

<body>
    <section class="container">
        <!-- HEADER SECTION START -->
        <div class="header-section">

            <div class="toggle-btn">
                <img src="/images/menu.svg" alt="menuIcon">
            </div>

            <div class="text">
                <img class="logo" src="/images/image 25.png" alt="logo">
                <div class="header-text">
                    <h1>BADGERW2 COLLEGE</h1>
                    <h4>Knowlege to the world</h4>
                </div>
            </div>

            <div class="search">
                <input type="search" name="" id="search" class="search-input">
                <img class="search-img" src="/images/search.svg" alt="">
            </div>
        </div>
</body>

</html>