<footer>
    <div class="footer-logo">
        <img class="grad-cap" src="/images/image 25.png" alt="">
        <h1>BADGERW2 COLLEGE</h1>
    </div>
    <div class="footer-text">
        <h3>Knowlege to the world</h3>
    </div>
    <hr>
    <div class="footer-text1">
        <p>Address: 142, Amadu Bello Way Lagos-Ibadan Expressway, Ogun State, Nigeria.</p>
        <p>For Enquires: +234 809 467 8872 or badgerw2@umn.edu</p>
    </div>
    <div class="footer-text2">
        <div class="footer-item">
            <p>Faculty Director</p>
        </div>
        <div class="footer-item">
            <p>Faculty Director</p>
        </div>
        <div class="footer-item">
            <p>University System</p>
        </div>
    </div>
    <div>
        <div class="footer-text3">
            <p>Connect with us</p>
        </div>
        <div class="social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </div>
</footer>