<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>Landing Page</title>

</head>

<body>
    <header>
        <div class="nav-bar">
            <a class="nav-link" href="#home"><span class="home">HOME</span></a>
            <a class="nav-link" href="#contact">CONTACT US</a>
            <a class="nav-link" href="#alumni">ALUMNI</a>
            <a class="nav-link" href="#about">ABOUT US</a>
    </header>
    <section class="bg-img">
        <div class="header-logo">
            <img class="image25" src="/images/image 25.png" alt="graduation cap">
            <h1 class="college-name">BADGERW2 COLLEGE</h1>
        </div>
        <h2 class="college-motto">Knowledge to the world</h2>
        <div class="search-bar">
            <input class="search-input" width="1030px" height="50px" type="text">
            <img class="search-img" src="/images/Vector.png" alt="">
        </div>
    </section>
    <img class="images" src="/images/image 2.png" alt="">
    <section>
        <div class="text">
            <h2>ABOUT US</h2>
            <p>Find out all you need to know about the prestigious Badgerw2 College. </p>
        </div>
        <div>
            <button class="button"><span class="buttontext">ABOUT US</span></button>
        </div>
    </section>
    <img class="images" src="/images/unsplash_LLfRMRT-9AY.png" alt="">
    <section>
        <div class="text">
            <h2>ACADEMICS</h2>
            <p>Get to know the academic curriculum, academic activities, lecturers, and scholars in Badderw2 College.
            </p>
        </div>
        <div>
            <button class="button"><span class="buttontext">ACADEMICS</span></button>
        </div>
    </section>
    <img class="images" src="/images/image 1.png" alt="">
    <section>
        <div class="text">
            <h2>FACULTIES AND RESEARCH</h2>
            <p>Check various faculties in the college and researches done by alumni. </p>
        </div>
        <div>
            <button class="button"><span class="buttontext">ACADEMICS </span></button>
        </div>
    </section>
    <img class="images" src="/images/image 3.png" alt="">
    <section>
        <div class="text">
            <h2>ALUMNI</h2>
            <p><span class="color-text"><a href="/register">Sign Up</a></span> to register to the alumni platform or
                <span class="color-text"><a href="/login">Login</a></span> to view your dashboard.
            </p>
        </div>
    </section>
    <footer>
        <div class="footer-logo">
            <img class="grad-cap" src="/images/image 25.png" alt="">
            <h1>BADGERW2 COLLEGE</h1>
        </div>
        <div class="footer-text">
            <h3>Knowlege to the world</h3>
        </div>
        <hr>
        <div class="footer-text1">
            <p>Address: 142, Amadu Bello Way Lagos-Ibadan Expressway, Ogun State, Nigeria.</p>
            <p>For Enquires: +234 809 467 8872 or badgerw2@umn.edu</p>
        </div>
        <div class="footer-text2">
            <div class="footer-item">
                <p>Faculty Director</p>
            </div>
            <div class="footer-item">
                <p>Faculty Director</p>
            </div>
            <div class="footer-item">
                <p>University System</p>
            </div>
        </div>
        <div>
            <div class="footer-text3">
                <p>Connect with us</p>
            </div>
            <div class="social-icons">
                <img class="icon" src="fb-icon.png" alt="fb-icon">
                <img class="circle" class="icon" src="twitter-icon.png" alt="twitter-icon">
                <img class="icon" src="ig-icon.png" alt="ig-icon">
                <img class="icon" src="linkedin-icon.png" alt="linkedin-icon">
                <img class="icon" src="yt-icon.png" alt="yt-icon">
            </div>
        </div>
    </footer>
</body>

</html>
