<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni-Donation</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <!----icons from iconscout---->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>

    <!----HEAD TOP---->
    <section class="container">
        <div class="head-top">
            <div class="text">
                <img class="logo" src="/image/image 25.png" alt="logo">
                <div class="header-text">
                    <h1>BADGERW2 COLLEGE</h1>
                    <h4>Knowledge to the world</h4>
                </div>
            </div>
        </div>
    </section>
    <!----HEAD BOTTOM---->

    <!----Login info text---->
    <div class="login-main">
        <h1>LOGIN TO YOUR ALUMNI ACCOUNT</h1>
    </div>

    <!---FORM FOR EMAIL AND PASSWORD---->
    <form action="#">
        <label class="action">Email-mail address</label>
        <div class="input-field">
            <input type="text" class="input" placeholder="olawaleadameze@gmail.com" required>

        </div>
        <label class="action">Password</label>
        <div class="input-field">
            <input type="password" class="input" placeholder="*******" required>
            <i class="uil uil-eye-slash showHidePW"></i>
        </div>

        <!----CHECKBOX AND REMEMBER ME FORGOT PASSWORD LINK----->
        <div class="bottom">
            <div class="left">
                <input class="checkbox" type="checkbox">Remember me
                <label for="check"></label>
            </div><a href="">Forgot Password?</a></label>
        </div>
        </div>

        <!-----LOGIN AND CREATE ACCOUNT BUTTON---->
        <div class="input-field">
            <a class="login-link" href="/dashboard"><span class="submit">LOGIN</span></a>
        </div>

        <div class="input-field">
            <a class="submit" href="/signup"><span class="button">SIGN UP</span></a>
        </div>

    </form>

</body>

</html>
