* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --primary-color: #318dff;
  --secondary-color: #092c4c;
  --info: #2F80ED;
  --success: #27AE60;
  --warning: #E2B93B;
  --error: #EB5757;
  --black1: #000000;
  --black2: #1D1D1D;
  --black3: #282828;
  --grey1: #333333;
  --grey2: #4F4F4F;
  --grey3: #828282;
  --grey4: #BDBDBD;
  --grey5: #BDBDBD;
  --white: #FFFFFF;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
}

button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
}

button:hover {
  background-color: var(--primary-color);
}

button:active {
  background-color: var(--grey1);
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  height: 50px;
}


.container {
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  width: 100%;
  height: 135px;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(/images/image\ 2.png) center / cover no-repeat;

}

.header-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.menu-icon {
  margin-top: 20px;
}

.grad-cap img {

  width: 40px;
  height: 40px;
}

.header-text {
  color: var(--white);
}

h3.title {
  font-size: 20px;
  color: var(--secondary-color);
  text-align: center;
}

.header-text h2 {
  font-size: 20px;
  margin-top: 10px;
}

.header-text h3 {
  font-size: 12px;
  text-align: center;
}

p {
  font-size: 12px;
}

.form-element {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.payment {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;

}

input[type="text"] {
  width: 100%;
  height: 36px;
}

textarea {
  width: 100%;
  height: 296;
}



.payment button {

  width: 100%;
  height: 36px;
  color: var(--white);
  border: 8px;

}

.star {
  color: red;
}

@media screen and (min-width:700px) {

  header {
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 150px;
    width: 100%;
    height: 200px;
    text-align: center;
  }
}

@media screen and (min-width:1100px) {

  header {
    width: 100%;
    height: 235px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 200px;
    width: 100%;
    height: 200px;
    text-align: center;
  }

  .grid-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .flex-item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .header-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .menu-icon {
    margin-top: 20px;
  }

  .grad-cap img {

    width: 140px;
    height: 140px;
  }

  .header-text h2 {
    margin-top: 22px;
    font-size: 40px;
    line-height: 41.4px;
  }

  h2 {
    font-size: 40px;
    line-height: 41.4px;
  }

  .proj-header h3 {
    font-size: 24px;
    text-align: center;
  }

  .header-text h3 {
    font-size: 28px;
    text-align: center;
  }

  p {
    font-size: 20px;
    line-height: 25.2px;
  }


  .container {
    gap: 50px;
  }

  input[type="text"] {
    height: 55px;
  }

  .payment button {
    height: 55px;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 20px;
  }

  textarea {
    height: 355px;
  }

}