* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  :root {
    --primary-color:#318dff;
    --secondary-color:#092c4c;
    --info:#2F80ED;
    --success:#27AE60;
    --warning:#E2B93B;
    --error:#EB5757;
    --black1:#000000;
    --black2:#1D1D1D;
    --black3:#282828;
    --grey1:#333333;
    --grey2:#4F4F4F;
    --grey3:#828282;
    --grey4:#BDBDBD;
    --grey5:#BDBDBD;
    --white:#FFFFFF;
  }
  
  body {
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
  }
  
  button {
    width: 100%;
    height: 48px;
    border-radius: 8px;
  }
  button:hover {
    background-color: var(--primary-color);
  }
  button:active {
    background-color: var(--grey1);
  }
   .btn-primary {
    background-color: var(--primary-color);
  }
   .btn-secondary {
    background-color: var(--secondary-color);
    height:50px;
  }
   
  header h2{
    font-size: 24px;
    line-height: 26.4px;
  }
  header p{
    font-size: 16px;
    line-height: 22.4px;
  }
  .proj-header h3{
    font-size: 20px;
    line-height: 22px;
  }
  div p{
    font-size: 18px;
    line-height: 25.2px; 
  }
  
  .container{
    width: 90%;
    margin:0px auto;
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  header{
    display:flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    width:100%;
    height:135px;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(/images/image\ 2.png) center / cover no-repeat;

  }
  .header-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .menu-icon{
    margin-top:20px;
  }
 .grad-cap img{
  
  width: 40px;
  height: 40px;
 }
 .header-text{
  color:var(--white);
 }
 h2{
  font-size: 20px;
 }
 .proj-header h3{
  font-size: 14px;
  text-align: center;
 }
 .header-text h2{
  font-size: 20px;
  margin-top:10px ;
 }
 .header-text h3{
  font-size: 12px;
  text-align: center;
 }
 p{
  font-size: 12px;
 }
  .top-card{
    display:flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap:10px;
    color: var(--white);
    background-color: var(--secondary-color);
    width: 100%;
    height:194px;
    border-radius: 20px;
    padding: 10px;
    
  }
  .proj-header{
    text-align: center;
  }
  .proj-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    column-gap:20px;
  }
  .project-text{
    text-align: center;
    width: 100px;
  }
  .value-text {
    font-size: 12px;
  }
  .project-type{
    font-size: 14px;
  }
  .bar{
    background-color: var(--white);
    width:100%;
    height: 10px;
    border-radius: 5px;
    position:relative;
    top: 18px;
  }
  .dot{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position:relative;
    z-index: 3000;
    background-color: var(--primary-color);
    top:5px;
    left:50px;
  }
  .pro-text{
    position:absolute;
    margin-top:10px;
    right:30px;
 }
 .pro-text p{
  font-size: 12px;
 }
  .form-element{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  .payment{
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 20px;

  }
  input[type="text"]{
    width:100%;
    height:36px;
  }
  .grid-element{
    display: flex;
    flex-direction: column;
    row-gap: 20px;

 }
 .city-post{
    display: flex;
    flex-direction: row;
    gap:20px;
    
  }
 
 
 
  .payment button{
    
    width:100%;
    height:36px;
    color:var(--white);
    
  }
  .star{
    color:red;
  }
  
  @media screen and (min-width:700px){
    header{
      padding: 20px;
      display:flex;
      flex-direction: row;
      align-items: center;
      column-gap: 80px;
      width:100%;
      height:200px;
      text-align: center;
    }
    .header-item{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    .menu-icon{
      margin-top:20px;
    }
   .grad-cap img{
    
    width: 80px;
    height: 80px;
   }
   .header-text{
    color:var(--white);
   }
   .header-text h2{
    margin-top:22px;
   }
   h2{
    font-size: 32px;
    line-height: 34px;
   }
   .proj-header h3{
    font-size: 20px;
    text-align: center;
   }
   .header-text h2{
    font-size: 32px;
    line-height: 34px;
   }
   .header-text h3{
    font-size: 20px;
    text-align: center;
   }
   p{
    font-size: 18px;
    line-height: 25.2px;
   }

  
      button {
        
        border-radius: 8px;
      }
  .top-card{
    display:flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white);
    background-color: var(--secondary-color);
    width: 100%;
    height:250px;
    border-radius: 5px;
    padding: 30px;
    
  }
  .proj-header{
    text-align: center;
  }
  
  .proj-con{
    display: grid;
    width:100%;
    grid-template-columns: repeat(3,1fr);
    column-gap:100px;
    
  }
  .project-text{
    text-align: center;
    width: 150px;
  }
  .value-text {
    font-size: 14px;
  }
  .project-type{
    font-size: 20px;
    
  }
  
      .proj-header h3{
        font-size: 24px;
        line-height: 26.4px;
      }
      
  .bar{
    background-color: var(--white);
    width:100%;
    height: 10px;
    border-radius: 5px;
    position:relative;
    top: 20px;
  }
  .dot{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position:relative;
    z-index: 3000;
    background-color: var(--primary-color);
    top:5px;
    left:100px;
  }
  .pro-text{
    position:absolute;
    margin-top:10px;
    right:120px;
 }
  .form-element{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .payment{
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 50px;

  }
  .grid-element{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    row-gap: 30px;
 }
 .city-post{
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    
  }
 
  input[type="text"]{
    height:40px;
  }
 
  .payment button{
    
    height:40px;
  
  }
  
  
}
  @media screen and (min-width:1100px){
    
    header{
      padding: 20px;
      display:flex;
      flex-direction: row;
      align-items: center;
      column-gap: 140px;
      width:100%;
      height:200px;
      text-align: center;
    }
    .header-item{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    .menu-icon{
      margin-top:20px;
    }
   .grad-cap img{
    
    width: 140px;
    height: 140px;
   }
 
   .header-text h2{
    margin-top:22px;
    font-size: 40px;
    line-height: 41.4px;
   }
   h2{
    font-size: 40px;
    line-height: 41.4px;
   }
   .proj-header h3{
    font-size: 24px;
    text-align: center;
   }
   .header-text h3{
    font-size: 28px;
    text-align: center;
   }
   p{
    font-size: 20px;
    line-height: 25.2px;
   }

  
    .container{
        gap:50px;
      }
  
     
      button {
        height: 55px;
        border-radius: 8px;
      }
  .top-card{
    display:flex;
    flex-direction: column;
    gap: 40px;
    color: var(--white);
    background-color: var(--secondary-color);
    width: 100%;
    height:350px;
    border-radius: 5px;
    padding: 40px;
    
  }
  .proj-header{
    text-align: center;
  }
  .proj-con{
    display: grid;
    width:100%;
    grid-template-columns: repeat(3,1fr);
    column-gap:220px;
    
  }
  .project-text{
    text-align: center;
    width: 200px;
  }
  .value-text {
    font-size: 18px;
  }
  .project-type{
    font-size: 24px;
    
  }
  .bar{
    background-color: var(--white);
    top: 30px;
  }
  .dot{
    width: 34px;
    height: 34px;
    top:10px;
    left:150px;
  }
  .form-element{
    display: flex;
    flex-direction: column;
  }
  .payment{
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 80px;

  }
  .payment button{
    
    width:100%;
    height:44px;
    color:var(--white);
  }
  
  .city-post{
    display: flex;
    flex-direction: row;
    column-gap: 300px;
    
  }
 .grid-element{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 40px;
    row-gap: 50px;
 }
 .pro-text{
    position:absolute;
    font-size: 18px;
    margin-top:20px;
    right:180px;
 }
 .pro-text p{
  
  font-size: 18px;
 
}
 
input[type="text"]{
  height:44px;
}

.payment button{
  
  height:44px;

}
}
