body {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
}

.head-top {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 352px;
   margin: 30px;
}

.container {
   background-image: url("/images/image 2.png");
   background-position: center;
   background-size: cover;
   width: 100%;
   height: 30vh;
}

.logo {
   width: 142px;
   height: 69px;
}


.text {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #ffffff;
   text-align: center;
}

.header-text h1 {
   font-size: 38px;
   font-weight: 500;
   line-height: 39px;
}

.header-text h4 {
   font-size: 24px;
   font-weight: 500;
   line-height: 29px;
   font-weight: lighter;
}

.login-main {
   text-align: center;
   font-weight: 500;
   font-size: 25px;
   line-height: 53px;
}

.login-main h1 {
   font-size: larger;
}

.action {
   margin-left: 40px;
   font-weight: bolder;
}


.input-field {
   margin-left: 40px;
}

input {

   font-size: large;
   height: 30px;
   width: 94%;
   margin: 2px;
   border-radius: 4px;
   color: #000000;
   padding: 8px;
   margin-bottom: 20px;
   background: rgba(255, 2555, 255, 0.1);
}

label {
   color: #000000;
   font-size: 22px;
   font-size: large;
}


::-webkit-input-placeholder {
   color: #4f4f4f;
}

.checkbox {
   color: #000000;

}

.button {
   float: left;
   border: none;
   border-radius: 5px;
   font-size: 15px;
   font-weight: bold;
   margin-top: 10px;
   height: 35px;
   outline: none;
   width: 95%;
   background: rgba(255, 2555, 255, 0.7);
   cursor: pointer;
   transition: .3s;
   background: transparent;
   color: #319dff;
   border: 2px solid #319dff;
   margin-left: 2px;
   text-align: center;
   text-decoration: none;
}

.login-link {
   float: left;
   background-color: #319dff;
   border: none;
   border-radius: 5px;
   font-size: 15px;
   font-weight: bold;
   margin-top: 10px;
   height: 35px;
   outline: none;
   width: 95%;
   cursor: pointer;
   transition: .3s;
   color: #ffffff;
   border: 2px solid #319dff;
   margin-left: 2px;
   text-align: center;
   text-decoration: none;
}

.submit:hover {
   background: #092c4c;
}

.button:hover {
   background: #092c4c;
}

.bottom {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: small;
   color: #000000;
   font-weight: bold;
   text-decoration: none;
   margin: 10px;
}

.left {
   display: flex;
   justify-content: space-between;
   padding-left: 30px;
   width: min-content;
}

.submit-button {
   margin-top: 10px;
   width: 95%;

}



@media screen and (min-width:900px) {
   .form-container {
      width: 50%;
      margin: 10px auto;
   }

   .submit-button {
      margin-top: 10px;
      width: 95%;
      height: 55px;
   }
}
