body {
    font-family: 'Inter';
    font-style: normal;
  }
  .nav-bar{
    display: flex; 
   justify-content: end;
   width: 100%;
    background-color: #319DFF;
  margin-top: 10px;
   }
  .nav-link{
    text-decoration: none;
    margin: 10px;
    margin-right: 30px;
    color: #092C4C;
  }
  .home{
    padding: 10px 10px;
    gap: 10px;
    color: #FFFFFF;
    width: 66px;
    height: 31px;
    background: #092C4C;
  }
  .bg-img{
    background-image: url("../image/image\ 2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 400px;
    background-blend-mode: darken;
  }
  .header-logo{
    display: flex;
    margin-top: 20px;
    margin-left: 30%;
  }
  .image25{
    width: 110px;
    height: 70px;
    margin-top: 7%;
  }
  .college-name{
    font-weight: 500;
    font-size: 48px;
    line-height: 35px;
    color: #FFFFFF;
    margin-top: 7%;
      }
  .college-motto{
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 45%;
      }
  .search-bar{
   display: flex;
   width: 800px;
   height: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    left:500px;
  
   
    
    }
  .search-img {
    background-color: rgba(49, 157, 255, 1);
    padding: 8px;
    border-radius:10px;
    }

    .search-input {
      width: 800px;
      height: 40px;
      outline: none;
      border: none;
      font-size: 1.2rem;
      border-radius: 10px;
    }
  
    .images{
        width: 90%;
        height: 800px;
        margin-top: 5%;
        margin-left: 5% ;
  }
  .image2{
          object-fit: cover;
  }
  .text{
        width: 90%;
        font-weight: 400px;
        font-size: 40px;
        color: #000000;
        margin: auto;
      }
    .button{
      padding: 12.8px 80px;
      width: 90%;
      height: 90px;
      
      border-radius: 8px;
      margin-left: 5%;
  }
  .buttontext{
  font-weight: 700;
  font-size: 40px;
  line-height: 22px;
  color: #FFFFFF;
  }
  .color-text{
      color: #319DFF;
  }
    footer{
      background-color: #319DFF;
      box-sizing: border-box;
      width: 100%;
      height: 766px;
    }
    .footer-logo{
      display: flex;
      justify-content: center;
      padding-top: 40px;
    }
    .grad-cap{
      width: 142px;
      height: 79px;
      left: 507px;
      top: 69px;
}

h1{
  text-align: center;
  font-size: 30px;
  font-weight: 500px;
}

form{
  width: 97%;
  margin-left: 20px
 
}
form label{
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

input{
  font-weight: 100;
  height: 30px;
  width: 50%;
  color: #000000;
  padding: 0;
  margin-bottom: 5px;
  background: rgba(255, 255, 255, 0.1);


}

form input{
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
  align-items: center;
  justify-content: center;
  
}

.action{
  font-weight: bold;
}
select{
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  padding: 10px;
  background-color: #fff;
  border-color: #000000;
}

.submit-button{
  float: left;
  border: none;
  border-radius: 9px;
  font-size: 15px;
  height: 45px;
  width: 97%;
  outline: none;
  cursor: pointer;
  transition: .3s;
  color: #fff;
  background-color: #319DFF;
  font-size: larger;
  padding-left: 10px;
  margin-left:20px;
  text-decoration: none;
  text-align: center;
  
 
}

.submit-button:hover{
  background-color: #092C4C;
}
